# Python 임시 파일
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info
.pytest_cache/
.coverage
build/
dist/
sdist/
wheels/
env/
venv/
.venv/
ENV
.env
*.log
*.tmp
*.swp
db.sqlite3
instance/

# 편집기 및 IDE 관련 파일
.idea/
.project
.settings
*.sublime-project
*.sublime-workspace
.vscode/

# OS 관련 임시 파일
.DS_Store
Thumbs.db

*API_KEY.txt

# 오디오/비디오/이미지 파일
speech_output*.mp3
Generated_Image*.png

# Jupyter Notebook
.ipynb_checkpoints/

# 백업 파일
*.bak